# handcrafted
.hugo_build.lock
.DS_Store
public/*
resources/_gen/*
deploy.sh
sunartdiaries.co.uk.code-workspace

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
